<h1>Welcome, {{username}}</h1>
<h2>Your Posts</h2>
<div class="post-list">
  {{#each posts}}
    <div class="post" data-id="{{id}}">
      <h3>{{title}}</h3>
      <p>{{content}}</p>
      <button class="edit-post" data-id="{{id}}">Edit</button>
      <button class="delete-post" data-id="{{id}}">Delete</button>
    </div>
  {{else}}
    <p>You haven't created any posts yet.</p>
  {{/each}}
</div>
<button id="new-post">Create New Post</button>

<!-- Make sure the script is included -->
<script src="/js/dashboard.js"></script>
